# =====================================
# API
# =====================================
fastapi
uvicorn[standard]
httpx

# =====================================
# Agentic Workflow / LLM
# =====================================
langgraph
langchain
langchain-openai

# =====================================
# Configuration / Validation
# =====================================
pydantic
pydantic-settings
python-dotenv

# =====================================
# Database
# =====================================
sqlalchemy
psycopg2-binary
alembic

# =====================================
# Document Processing
# =====================================
pypdfium2

# =====================================
# Authentication
# =====================================
python-jose[cryptography]
pwdlib[argon2]